body {
    background: rgb(149, 173, 126);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


form {
    width:300px ;
}

button,input, output {

  padding: 10px;
  width: -webkit-fill-available;

}

outline {
    background: green;
    color:green;
    border: 1px solid white;
}