body {
    background: rgb(149, 173, 126);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


form {
    width:300px ;
}

button,input, output {

  padding: 10px;
  width: -webkit-fill-available;
  

}
.big-input {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    font-size: 18px;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.textarea{

    


    min-height: 400px;
    box-sizing: content-box; /* Ajusta o cálculo da largura */
}


outline {
    background: green;
    color:green;
    border: 1px solid white;
}